body {
  background-color: bisque;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #333;
}

header {
  background: #333;
}

a {
  color: white;
}

/* Table */

th {
  border-bottom: 3px solid white;
}

thead {
  font-weight: bolder;
  background-color: orange;
  color: white;
}

td,
th {
  text-align: left;
}

.odd {
  background-color: bisque;
}

tr {
  background-color: pink;
}
